
.card {
  &__wrapper {
    margin: 5px;
  }

  &__tags {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 8px;
    //margin: 0 5px; /* Поля */
    //overflow: hidden;
    //text-overflow: ellipsis;
    width: 100%;
  }

  &__tag {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
  }

  &__title-box {
    text-align: left;
  }

  &__title {
    color: rgb(72, 72, 72);
    font-weight: bold;
    font-size: 16px;
  }
  &__detail,
  &__details {
    color: rgb(72, 72, 72);
  }

  &__detail {
  }

  &__details {
  }
  &__language {
    color: rgb(118, 118, 118);
    font-size: 12px;
    line-height: 26px;
  }
}
